<mapper namespace="com.kas.dao.IUserDao">

    <select id="findAll" resultType="com.kas.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.kas.pojo.User" paramterType="com.kas.pojo.User">
        select * from user
        where id = #{id} and name = #{name}
    </select>

    <update id="updateUser" paramterType="com.kas.pojo.User">
        update user
        set name =#{name}
        where id = #{id}
    </update>

    <update id="insertUser" paramterType="com.kas.pojo.User">
        insert user(id,name)
        values(#{id},#{name})
    </update>

    <update id="deleteUser" paramterType="Integer">
        delete from user
        where id = #{id}
    </update>

</mapper>